* {
  box-sizing: border-box;
}

:root {
  --primary: #44e9ff;
  --secondary: #497980;
  --tertiary: rgb(192, 246, 253);
  --grey: #333;
  font-size: 62.5%;
}

body {
  background: #ededed;
  color: var(--grey);
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background: var(--secondary);
  padding: 30px 25px;
  border-bottom: 5px solid var(--primary);
}

header p {
  color: var(--tertiary);
  margin: 5px 0 20px;
  font-size: 2rem;
}

p,
li {
  font-size: 1.6rem;
}

@media screen and (max-width: 980px) {
  form .form-group {
    flex: 1 100%;
  }

  form .form-group button {
    width: 100%;
  }

  .task-list-wrapper {
    flex-basis: 100%;
  }

}
