* {
  box-sizing: border-box;
}

:root {
  --primary: rgb(40, 5, 63);
  --secondary: #852399;
  --tertiary: rgb(252, 248, 248);
  font-size: 62.5%;
}

body {
  background: var(--tertiary);
  color: var(--grey);
  margin: 15px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background: var(--tertiary);
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

header p {
  color: var(--tertiary);
  margin: 5px 0 20px;
  font-size: 2rem;
}

.landing-page {
  text-align: center;
 
}

.landing-page h1 {
  font-size: 35px;
}

.landing-page p {
  font-size: 25px;
}

.instructions {
  margin: 1px 200px;
}

.hide {
    display: none;
}

.title-section button {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
}

.title-section button:hover {
    background-color:var(--tertiary-color);  
}

@media screen and (max-width: 980px) {
  form .form-group {
    flex: 1 100%;
  }

  form .form-group button {
    width: 100%;
  }

  .task-list-wrapper {
    flex-basis: 100%;
  }

}
