* {
  box-sizing: border-box;
}

:root {
  --primary: rgb(66, 21, 95);
  --secondary: #852399;
  --tertiary: rgb(252, 248, 248);
  --fourth: grey;
  --fifth: #c18bcc;
  font-size: 62.5%;
}

body {
  background: var(--tertiary);
  color: var(--grey);
  margin: 15px;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background: var(--tertiary);
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

header p {
  color: var(--tertiary);
  margin: 5px 0 20px;
  font-size: 2rem;
}

section h1 {
  text-align: center;
  font-size: 35px;
 
}

section h2 {
  font-size: 35px;
}

section h3 {
  text-align: left;
  font-size: 30px;
 
}

section p {
  font-size: 25px;
}

section {
  margin: 1px 250px;
}

section label {
  font-size: 20px;
}

.instructions {
  text-align: center;
}

.options {
  padding-top: 20px;
  display: block;
  margin-top: 10px;
}

.start-button {
  text-align: center;
}

.feedback {
  color: var(--fourth);
  border-top: 2px solid var(--fourth);
  font-size: 35px;
  font-style: italic;
}

button {
  color: white;
  background-color: var(--primary);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
}

button:hover {
  background-color:var(--secondary); 
}

.link-score {
  color: var(--primary);
  background-color: var(--tertiary);
  font-size: 20px;
}

.list {
  background-color: var(--fifth);
  font-size: 20px;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.error {
  font-size: 20px;
  color: red;
}

.success {
  font-size: 25px;
  
}

.show {
  display: block;
}

.hide {
    display: none;
}

@media screen and (max-width: 768px) {
  section {
    margin: 1px 100px;
  }

}

@media screen and (max-width: 575px) {

  section {
    margin: 1px 20px;
  }

  header {
    padding: 5px;
  }


}
